@model SearchResultModel

@if (Model.ErrorMsg != null && Model.ErrorMsg != "")
{
    
<div class="text-danger">@Model.ErrorMsg</div>

}
else
{



<h4>Holiday Packages</h4>
<hr />
<table border="1" cellpadding="0" cellspacing="0" id="Hpackages" style="width: 70%;">
    <tr style="color: hotpink;">
        <td>Hotel Name</td> 
        <td></td>
        <td>Location</td>
        <td></td>
        <td>Room</td>
        <td></td>
        <td>Price</td>
    </tr>


    @foreach (var hotel in Model.Hpackages)
    {
<tr class="hotel" id="@hotel.Id">

    <td>@hotel.Name</td>
    <td></td>
    <td>@hotel.City.Name</td>
    <td></td>
    <td>@hotel.Offers[0].Rooms[0].RoomName / @hotel.Offers[0].Rooms[0].BoardName</td>
    <td></td>
    <td>@hotel.Offers[0].Price.Amount  @hotel.Offers[0].Price.Currency</td>
</tr>


                    <tr name="offers@(hotel.Id)" style="display:none">

                        <td colspan="7" align="right">
                            <table border="0">

                                <tr style="color: hotpink;">
                                    <td><b>Room Name</b></td>
                                    <td></td>
                                    <td><b>Board Name</b></td>
                                    <td></td>
                                    <td><b>Price</b></td>
                                    <td></td>
                                    <td><b>Currency</b></td>
                                </tr>
                                @foreach (var offer in hotel.Offers)
                                {
            <tr>
                <td>
                    @foreach (var rooms in offer.Rooms)
                    {
@rooms.RoomName}
                </td>
                <td>
                <td align="right">@offer.Rooms[0].BoardName</td>

                <td></td>
                <td align="right">@offer.Price.Amount</td>

                <td></td>
                <td align="center">@offer.Price.Currency</td>
                <td></td>

                <td>
                    <button name="btnPost" type="button" class="btn btn-primary book" offerId="@offer.OfferId">
                        Select
                    </button>
                </td>

            </tr>                    }

                            </table>
                        </td>
                    </tr>}

</table>
}